{% extends 'form_div_layout.html.twig' %}


{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}


{% block form_row %}
    <div class="form-row">

        <div class="form-label">
            {{ form_label(form) }}
        </div>

        <div class="form-input">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}


{% block form_errors %}
    {% if errors |length > 0 %}
        <div class="error_block">
            {% for error in errors %}
                <span class="errors-for-input">{{ error.message |trans }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endblock form_errors %}


{% block submit_row -%}
    {% spaceless %}
        <div class="form-submit">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock submit_row %}
