{% extends 'AppControlBundle::layout.html.twig' %}
{% form_theme form 'AppControlBundle::form.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/control/form.css') }}"/>
{% endblock %}


{% block content %}

    <div class="card-inner form-card">
        <div>
            <div class="form-heading">
                <h3>+ {{ 'control.users.label.addNewUser' |trans }}</h3>
            </div>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
